.summary-table {
  margin: 50px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.summary-table table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table td {
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
}

.summary-label {
  width: 20%;
  text-align: right;
  font-weight: bold;
}

.summary-value {
  width: 80%;
  text-align: left;
}

.succeeded {
  color: green;
}

.failed {
  color: red;
}
