<div *ngIf="analyzerResult" class="summary-table">
  <div *ngIf="analyzerResult.ok">
    <h3 class="succeeded">The site sucessfully scanned!</h3>
    <table>
      <tr>
        <td class="summary-label">HTML version</td>
        <td class="summary-value">{{ analyzerResult.summary.htmlVersion || analyzerResult.summary.doctype }}</td>
      </tr>
      <tr>
        <td class="summary-label">Page title</td>
        <td class="summary-value">{{ analyzerResult.summary.title }}</td>
      </tr>
      <tr>
        <td class="summary-label">Number of headings</td>
        <td class="summary-value">
          <ul>
            <li>h1: {{ analyzerResult.summary.headingsSummary.h1 }}</li>
            <li>h2: {{ analyzerResult.summary.headingsSummary.h2 }}</li>
            <li>h3: {{ analyzerResult.summary.headingsSummary.h3 }}</li>
            <li>h4: {{ analyzerResult.summary.headingsSummary.h4 }}</li>
            <li>h5: {{ analyzerResult.summary.headingsSummary.h5 }}</li>
            <li>h6: {{ analyzerResult.summary.headingsSummary.h6 }}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="summary-label">Number of links scanned on the page</td>
        <td class="summary-value">
          <ul>
            <li>Internal links: {{ analyzerResult.summary.linksSummary.internalNum }}</li>
            <li>External links: {{ analyzerResult.summary.linksSummary.externalNum }}</li>
            <li>Inaccessible links: {{ analyzerResult.summary.linksSummary.inaccessibleNum }}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="summary-label">Contains login form</td>
        <td class="summary-value">{{ analyzerResult.summary.hasLoginForm ? 'Yes' : 'No' }}
      </tr>
    </table>
  </div>
  <div *ngIf="!analyzerResult.ok">
    <h3 class="failed">Failed to reach destination by the given url</h3>
    <table>
      <tr *ngIf="analyzerResult.error.code">
        <td class="summary-label">Error code</td>
        <td class="summary-value">{{ analyzerResult.error.code }}</td>
      </tr>
      <tr *ngIf="analyzerResult.error.message">
        <td class="summary-label">Message</td>
        <td class="summary-value">{{ analyzerResult.error.message }}</td>
      </tr>
    </table>
  </div>
</div>
