.analyzer-form {
  margin: 10px;
  border: 1px solid #ddd;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.analyzer-form-row {
  margin: 15px;
}

.analyzer-form-label {
  margin-bottom: 5px;
  text-align: left;
  font-size: 12px
}

.analyzer-url-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #fff;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.analyzer-form-error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
  text-align: right;
}

.analyzer-submit-button {
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 20px;
  background: linear-gradient(#fff, #eee);
  cursor: pointer;
  border: 1px solid #aaa;
  color: #333;
}

.analyzer-submit-button[disabled] {
  color: #aaa;
  cursor: default;
}

.loading-spinner {
  position: relative;
  text-indent: -9999em;
  border: 3px solid #f3f3f3;
  border-left-color: #555;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loadAnim 1.1s infinite linear;
  animation: loadAnim 1.1s infinite linear;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

@keyframes loadAnim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
