<div class="analyzer-form">
  <form #analyzerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="analyzer-form-row">
      <div class="analyzer-form-label"><label for="url">Site URL:</label></div>
      <div>
        <input
          [(ngModel)]="url"
          class="analyzer-url-input"
          type="text"
          placeholder="https://example.com"
          name="url"
          id="url"
          required
          #urlInput="ngModel"
          pattern="^https?:\/\/[\w\.\-]+\.[a-zA-Z]{2,5}\.?(\/.*)?">
      </div>
      <div *ngIf="urlInput.invalid && (urlInput.dirty || urlInput.touched)" class="analyzer-form-error">
        <div *ngIf="urlInput.errors.required">
          Field is required
        </div>
        <div *ngIf="urlInput.errors.pattern">
          Wrong URL
        </div>
      </div>
      <div class="analyzer-form-error">{{ error }}</div>
    </div>
    <div class="analyzer-form-row" *ngIf="!loading">
      <button class="analyzer-submit-button" type="submit" [disabled]="!analyzerForm.form.valid">Submit</button>
    </div>
    <div class="analyzer-form-row loading-row" *ngIf="loading">
      <div class="loading-spinner">Loading...</div>
    </div>
  </form>
</div>
