<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="title">Site analyzer</h1>
  <app-analyzer-form
    (analyzerResultReceived)="analyzerResultReceived($event)"
    (analyzerResultRequested)="analyzerResultRequested()">
  </app-analyzer-form>
  <app-analyzer-output [analyzerResult]="analyzerResult"></app-analyzer-output>
</div>
