html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
